<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Site - Eng. Glenn R. Tomassi</title>
    <!--Icons-->
    <link rel="icon" href="favicon.ico">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--Bootstrap CDN Links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <!--CSS-->
    <link rel="stylesheet" href="css/styles.css">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/9c18505560.js" crossorigin="anonymous"></script>
    <script src="main.ejs"></script>
</head>

<body>

    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Gurenn</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon d-flex"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#Education">Education</a></li>
                            <li><a class="dropdown-item" href="#Work">Work Experience</a></li>
                            <li><a class="dropdown-item" href="#">Vision</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link active" href="#Skills">Skills</a></li>
                    <li class="nav-item"><a class="nav-link active" href="projects.html">Projects</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
