<%- include("header") -%> 

    <!--Profile Description-->
    <section id="ProfileIntro">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center" id="ProfileImg"><tr><td><img src="images\profile-pic.png" alt="glenn profile picture"></td></div>
                <div class="col-lg-6">
                    <h1>Glenn R. Tomassi C.</h1>
                    <p><em>Informatics Technical Specialist at <strong><a href="https://www.corelaboratory.abbott/us/en/offerings/brands/aliniq">Abbott Laboratories</a></strong></em></p>
                    <p>Electronics Engineer working as Informatics Technical Specialist giving support to Abbott Laboratories AlinIQ solutions portfolio for Latin America and Canada looking and for a new challenging experience and the opportunity to keep learning new things. More than 20 full middleware and Clinical Decision Support solutions deployment across the region including Canada and US within the goal of delivery time settle by the organization.</p>
                    <a class="btn btn-primary" aria-current="page" role="button" data-bs-toggle="button" href="#Work">Experience</a>
                    <a class="btn btn-secondary" aria-current="page" role="button" data-bs-toggle="button" href="#Contact">Contact Me</a>
                </div>
            </div>
        </div>
    </section>
    <hr size="3">
    <section id="Education">
        <div class="container">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h3 class="mb-0">
                            <div class="d-grid gap-2">
                                <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Education    
                                </button>
                            </div>
                        </h3>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <img src="images\logo_une.png" alt="logo_une">
                                        <br>
                                        <br>
                                        <h5>
                                            Electronics Engineer - <a href="http://www.une.edu.ve/une/carrera.php?mencion=Ingenieria_electronica">Universidad Nueva Esparta</a>
                                        </h5>
                                        <ul>
                                            <li>Learned about Technical Writing.</li>
                                            <li>Developed critical thinking skills.</li>
                                            <li>Learned about regulations, norms, and standards</li>
                                        </ul>
                                        <br>
                                        <br>
                                    </div>
                                    <div class="col-lg-6">
                                        <img src="images\IUT_logo.png" alt="logo_iut">
                                        <br>
                                        <br>
                                        <h5>
                                            Electrical Technician - <a href="https://iutrcdrfrp.wixsite.com/iutrc/carreras">Instituto Universitario de Tecnologia</a>
                                        </h5>
                                        <ul>
                                            <li>Awarded Honor Roll in 2016.</li>
                                            <li>Former Robotics Club Member.</li>
                                            <li>Learned Diagraming and Scheming techniques.</li>
                                            <li>Improve Critical thinking skills.</li>
                                            <li>Become proficient in Programming and design techniques.</li>
                                        </ul>
                                        <br>
                                        <br>
                                    </div>
                                    <div class="col-lg-9 offset-lg-3">
                                        <img src="images\logo-ceupe.png" alt="logo_ceupe">
                                        <h5>
                                            Master in Cybersecurity - <a href="https://www.ceupe.com/master-propios/master-ciberseguridad.html">Centro Europeo de Postgrado</a>
                                        </h5>
                                        <ul>
                                            <li>International Europe Certificate TÜV NORD Auditor Interno ISO 27001</li>
                                            <li>Professional Certificate - Expert in Information and Security Systems</li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr size="3">
    <section id="Work">
        <div class="container">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h3 class="mb-0">
                            <div class="d-grid gap-2">
                                <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Work Experience    
                                </button>
                            </div>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <table cellspacing="10">
                                <thead>
                                    <th>Dates</th>
                                    <th>Work</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2015 – 2017</td>
                                        <td>Diagnostics Technical Support at Abbott Laboratories</td>
                                    </tr>
                                    <tr>
                                        <td>2017</td>
                                        <td>Informatics Technical Specialist at Abbott Laboratories</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr size="3">
    <section id="Skills">
       <div class="container">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h3 class="mb-0">
                            <div class="d-grid gap-2">
                                <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    Skills    
                                </button>
                            </div>
                        </h3>
                    </div>
                    <div  id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <table cellspacing = "10">
                                <tr>
                                    <td>
                                       <table cellspacing = "10">
                                           <tr>
                                              <td>Web Development</td>
                                              <td>⭐⭐⭐</td>
                                           </tr>
                                           <tr>
                                               <td>IT Support</td>
                                               <td>⭐⭐⭐⭐⭐</td>
                                           </tr>
                                       </table>
                                    </td>
                                    <td>
                                       <table cellspacing = "10">
                                           <tr>
                                               <td>Data Science</td>
                                               <td>⭐⭐⭐</td>
                                           </tr>
                                           <tr>
                                              <td>Blockchain Development</td>
                                              <td>⭐⭐⭐</td>
                                           </tr>
                                       </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <b class="hr anim"></b>
    <section id="Contact">
       <div class="container">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h3 class="mb-0">
                            <div class="d-grid gap-2">
                                <button class="btn" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    Contact    
                                </button>
                            </div>
                        </h3>
                    </div>
                    <div  id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <p>Let's work together.</p>
                            <a class="btn btn-secondary" aria-current="page" role="button" data-bs-toggle="button" href="mailto:glenn.r.tomassi@gmail.com">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section>

    <%- include("footer") -%> 
    