body{
    background-color: whitesmoke;
}

/*hr{
    border-style: none;
    border-top-style: dotted;
    border-top-width: thick;
    border-color: grey;
    border-width: 10px;
    width: 3%;
}*/

h1, h3, ul, th{
    color: black;
}

.title-sec{
	text-shadow: 2px 2px 2px rgb(41 41 41 / 15%);
    font-size: 2.5em;
    color: #333338;
    font-weight: 700;
}

/*.section-title {
	padding-bottom: 5%;
}*/

.card-body {
	-webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.service-in .card h5.card-title {
    font-size: 1.1em;
    color: #fff;
	padding: 2em 1em;
    border: none;
    transition: none;
    background: rgba(243, 244, 245, 0.17);
}

p, li, td{
    color: black;
}

.imgprofile {
	padding: 10px;
	width: 100%;
	height: auto;
}

img {
	padding: 10px;
}

/*#ProfileIntro, #Education, #Skills, #Contact {
    padding: 3% 10% 7% 3%;
}*/

.Work {
	background-image: url("../images/computer-bg.jpg");
}

/* ------ Horizontal Line Styles ------ */

.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-tab-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(50% - 10px);
	width: 20px;
	height: 14px;
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
	border-radius: 0 0 8px 8px;
}

.div-stopper:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -6px;
	left: calc(50% - 7px);
	width: 14px;
	height: 12px;
	background-color: white;
	border-left: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

/* ------- END ------- */
